*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner{
    width: 100%;
    height: 1300vh;
    /* border: 2px solid red; */
}

.navbar{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 8;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px rgb(224,224,227);
    /* border: 2px solid olive; */
}

.logo{
    padding-left: 15px;
    /* border: 2px solid orangered; */
}

.logo img{
    width: 85%;
    height: 9vh;
    /* border: 2px solid orange; */
}

.navbar ul{
    display: flex;
    gap: 20px;
    margin-left: -40px;
    /* border: 2px solid blue; */
}

.navbar li{
    list-style: none;
    cursor: pointer;
}
.navbar li:hover{
    color: rgb(255,74,50);
    transition: 0.3s ease-in-out;
}
.navbar select{
    width: 8.3%;
    padding: 3px;
    margin-left: 10px;
    border: none;
    font-size: 15px;
    /* border: 2px solid orangered; */
}
.navbar select:hover{
    color: rgb(255,74,50);
    transition: 0.3s ease-in-out;
}

.nav_icons{
    margin-left: 18rem;
    cursor: pointer;
    /* border: 2px solid red; */
}
.nav_icons i:hover{
        color: rgb(255,74,50);
        transition: 0.3s ease-in-out;
}


.home .img-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home .img-box .img-items{
    height: auto;
    width: 50%;
    position: relative;
    align-items: center;
    overflow: hidden;
}
.home .img-box .img-items img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.home .img-box .img-items .img-box1:hover{
    transform: scale(1.1);
}
.home .img-box .img-items p,h3{
    top: 43%;
    left: 28%;
    position: absolute;
}
.home .img-box .img-items .top1{
    padding: 5rem 1rem;
    position: absolute;
}
.home .img-box .img-items .top2{
    padding: 5rem 0.2rem;
    position: absolute;
}
.home .img-box .img-items p img{
    width: 20rem;
}
.home .img-box .img-items .img-box1{
    filter: contrast(35%);
}

.footer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    /* border: 2px solid yellow; */
}
.footer img{
    width: 13%;
    height:6vh;
}

.sec_page{
    width: 100%;
    height: 55vh;
    /* border: 2px solid blue; */
}
.sec_txt{
    width: 50%;
    height: 45vh;
    margin-left: 22rem;
    margin-top: 3rem;
    /* border: 2px solid purple; */
}
.sec_txt span{
    cursor: pointer;
}
.sec_page .sec_txt h1{
    text-align: center;
}
.sec_page .sec_txt h4{
    text-align: center;
}
.sec_page .sec_txt p{
    text-align: center;
}
.sec_page .sec_txt p span{
    color: rgb(255,95,73);
}
.line{
    text-decoration: underline;
}
.empty{
    width: 80px;
    height: 2.6px;
    margin-left: 19.5rem;
    margin-top: 2.5rem;
    background-color: rgb(207,207,207);
}

.main{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid orange; */
}
.boosted_img{
    width: 35%;
    height: 100%;
    /* border: 2px solid yellow; */
}
.boosted_img img{
    width: 100%;
    height: 100%;
}
.boosted_txt{
    width: 38%;
    height: 50vh;
    /* border: 2px solid rgb(31, 13, 165); */
}
.boosted_txt button{
    width: 25%;
    height: 6vh;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255,74,50);
    border: none;
}
.boosted_txt button:hover{
    background-color: rgb(92, 88, 88);
    transition: 0.2s ease-in-out;
}

.main2{
    width: 100%;
    height: 105vh;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blueviolet; */
}
.minimotors_txt{
    width: 37%;
    height: 50vh;
    /* border: 2px solid greenyellow; */
}
.minimotors_txt button{
    width: 28%;
    height: 6vh;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255,74,50);
    border: none;
}
.minimotors_txt button:hover{
    background-color: rgb(92, 88, 88);
    transition: 0.2s ease-in-out;
}
.minimotors_img {
    width: 45%;
    height: 100%;
    /* border: 2px solid blue; */
}
.minimotors_img img{
    width: 100%;
    height: 100%;
}


.main3{
    width: 100%;
    height: 105vh;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid rgb(207, 22, 37); */
}
.gt_collection {
    width: 45%;
    height: 100%;
    /* border: 2px solid blue; */
}
.gt_collection img{
    width: 100%;
    height: 100%;
}
.gt_collection_txt{
    width: 37%;
    height: 55vh;
    padding-left: 5px;
    /* border: 2px solid greenyellow; */
}
.gt_collection_txt button{
    width: 28%;
    height: 6vh;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255,74,50);
    border: none;
}
.gt_collection_txt button:hover{
    background-color: rgb(92, 88, 88);
    transition: 0.2s ease-in-out;
}

.electric_scootors{
    width: 100%;
    height: 90vh;
    margin-top: 30px;
    background-image: url("https://boostedusa.com/cdn/shop/files/boosted-rev-display_1800x.jpg?v=1646160921");
    background-size: cover;
    /* border: 2px solid purple; */
}
.electric_scootors_txt{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    /* border: 2px solid white; */
}
.electric_scootors_txt button{
    width: 15%;
    height: 6vh;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255,74,50);
    border: none;
}
.electric_scootors_txt button:hover{
    background-color: rgb(92, 88, 88);
    transition: 0.2s ease-in-out;
}
iframe{
    margin: 20px 5%;
    width: 90%;
    height: 13%;
    border: 2px solid brown;
}

.Terrain_img{
    width: 100%;
    height: 90vh;
    background-image: url("https://boostedusa.com/cdn/shop/files/evolve-skateboards-1_2000x.jpg?v=1646161047");
    background-size: cover;
    /* border: 2px solid blue; */
}
.Terrain_txt{
    text-align: center;
    padding-top: 150px;
    font-size: 20px;
    color: white;
    /* border: 2px solid cyan; */
}
.Terrain_txt button{
    width: 15%;
    height: 6vh;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255,74,50);
    border: none;
}
.Terrain_txt button:hover{
    background-color: rgb(92, 88, 88);
    transition: 0.2s ease-in-out;
}

.card_txt{
    padding-top: 15px;
    text-align: center;
    /* border: 2px solid red; */
}
.card_txt empty{
    padding-left: 20px;
}
.card_txt .border{
    width: 80px;
    height: 2.6px;
    margin-left: 42.5rem;
    margin-top: 2rem;
    background-color: rgb(207,207,207);
}

.tent{
    width: 100%;
    height: 45vh;
    margin-top: 10px;
    overflow-x: scroll;
    /* border: 2px solid blue; */
}
.tent .list1{
    display: flex;
    text-align: center;
    list-style: none;
    
}
.tent .list1 li{
    margin: 5px;
    cursor: pointer;
    /* border:  2px solid orangered; */
}
.tent .list1 li img{
    height: 180px;
}
.clr{
    color:rgb(255,74,50);
}
.light{
    color: rgb(187,187,187);
}

.card2_txt{
    margin-top: 30px;
    text-align: center;
    /* border: 2px solid gray; */
}
.card2_txt .line{
    width: 80px;
    height: 2.6px;
    margin-left: 42.5rem;
    margin-top: 2rem;
    background-color: rgb(207,207,207);
}

.tent2{
    width: 100%;
    height: 45vh;
    margin-top: 20px;
    overflow-x: scroll;
    /* border: 2px solid blue; */
}
.tent2 .list2{
    display: flex;
    text-align: center;
    list-style: none;
}
.tent2 .list2 li{
    cursor: pointer;
    margin: 5px;
    /* border:  2px solid orangered; */
}
.tent2 .list2 li img{
    height: 180px;
}

.form{
    width: 100%;
    height: 80vh;
    background-color: rgb(229,229,229);
    /* border: 2px solid purple; */
}
.form_input{
    width: 100%;
    height: 100%;
    padding-left: 30rem;
    padding-top: 3rem;
    /* border: 2px solid blue; */
}
.form_input h4 span{
    color:rgb(255,74,50);
}
.form_input input{
    width: 55%;
    height: 50px;
    /* border: none; */
}
.small{
    margin-left: -27rem;
    text-align: center;
    font-size: 13px;
}
.under_line{
    text-decoration: underline;
    cursor: pointer;
}
.form_input button{
    width: 55%;
    height: 6.9vh;
    color: white;
    /* display: block; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(255,74,50);
}
.form_input button:hover{
    background-color: rgb(233, 107, 90);
    transition: 0.1s ease-in-out;
}
.form_img{
   width: 15%;
   height: 27px;
   margin-left: 12rem;
   margin-top: 9px;
   text-align: center;
   cursor: pointer;
   border-radius: 10px;
    background-color: rgb(160,160,160);
    /* border: 2px solid orange; */
}
.form_img img{
    height: 22px;
    padding-top: 5px;
}

.ideas{
    width: 100vw;
    height: 50vh;
    background-color: black;
    display: flex;
    /* margin-top: 3rem; */
    align-items: center;
    background-size: cover;
    justify-content: space-evenly;
}
.go-fast img{
    height: 13vh;
}
 .go-fast h1{
    color: #ffffff;
    margin-left: -1.5rem;
    font-size: 2rem;
 }
 .go-fast p{
    color: #ffffff;
    text-align: center;
    margin-left: -5rem;
 }
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 4rem; */
    background-color: rgb(247,247,247);
    /* border: 2px solid blue; */
}
.footer-image{
    margin-top: -3rem;
    width:20vw;
    height: 30vh;
    
}
.footer-image img{
    height: 25vh;
}
.footer-list{
    margin-top: 3rem;
}
.footer-list > ul{
    list-style: none;
}

.footer-list ul li{
    font-size: 1rem;
    line-height: 1.6;
    cursor: pointer;
}
.footer-list ul li:hover{
    color: rgb(255,74,50);
    transition: 0.1s ease-in-out;
}
.about p{
    font-size: 1rem;
    line-height: 1.6;
}
.last-content{
    margin-top: -60px;
    margin-left: 7rem;
    font-size: 0.8rem;
}
.last-content span{
    cursor: pointer;
}